<div class="content-wrapper">
    
        <!-- <img src="../../images/fondo02.jpg" alt="Fondo de Pantallaa"> -->
        <style>
            .content-wrapper{
                background: url("../../images/fondo02.jpg") no-repeat fixed center;
                background-size: 100% 100%;
            }
        </style>
    

</div>