<div class="content-wrapper">
    
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Modificar Usuarios
          </h1>
          <ol class="breadcrumb">
            <li><a href="/v1/usuario"><i class="fa fa-home"></i></a></li>
          </ol>
        </section>
        <section class="content">

            <!-- Default box -->
      
              <div class="box-header with-border">
              <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">

              </h3>
      
              <div class="box-tools pull-right">
                <button
                  type="button"
                  class="btn btn-box-tool"
                  data-widget="collapse"
                  data-toggle="tooltip"
                  title="Collapse">
                  <i class="fa fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-box-tool"
                  data-widget="remove"
                  data-toggle="tooltip"
                  title="Remove"
                >
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
                <form action="guardar" method="post">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" value="<%= datos.id %>" name="id" readonly>
                </div>
                <label>NOMBRE</label>
                <div class="input-group">
                  
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" value="<%= datos.name %>" name="name" placeholder="USUARIO">
                    </div>
                       <div class="box-footer">
                <button class="btn btn-app" type="submit">
                    <i class="fa fa-save"></i> Save
                </button>
                <button class="btn btn-app">
                    <i class="fa fa-times-circle"></i> Cancel
                </button>
            </div>
            </div>
         
          </div>

              <!-- /.box-footer-->
        </div>
            <!-- /.box -->
      
          </section>


</div>